header {
    background-color: rgb(7, 4, 24);
    border-bottom: 3px solid black;
    box-shadow: 1px 1px 1px 1px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

nav {
    text-align: right;
}

a {
    font-size: 22px;
    color: #ffffff;
    font-family: "Medieval Mystery Regular";
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    align-items:center;
 
}

a::before {
    content: '';
    display: inline-flex;
    height: 10px;
    width: 10px;
    background-color: #071403;
    margin-right: 10px;
}

#Datasheet {
    background-color: #071403;
    display: inline-block;
    height: 40px;
    padding-left: 17px;
    padding-right: 15px;
    line-height: 40px;
    box-shadow: 5px 5px 20px #ffd90062;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 22px;
    color: #ffffff;
    font-family: "Medieval Mystery Regular";
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    align-items:center;

}

section {
    background-image: url("../assets/img/church.jpg");
    height: auto;

}

span {
    display: inline-flex;
    height: 10px;
    width: 10px;
    background-color: rgb(146, 146, 111);
    margin-right: 10px;
}

#logo {
    filter: brightness(300%);

}